@media(max-width:500px){
    .terms{
        width:100%;
        background-color: #f0f2f4;
        color:#0b3182;
        margin-top: -20px;
        min-height:100vh;
        
        h1{
            text-align: center;
            padding-top: 20px;
            text-decoration: underline;
        }
        ol{
            width:80%;
            margin-left: 2%;
            padding-top: 20px;
            li{
                font-size: 1.3rem;
            }
        }
    }
}