.status{
    width:100%;
    background-color: #f0f2f4;
    color:#0b3182;
    padding-top: 1px;
    h1{
        text-align: center;
    }
    .boxes{
        border:1px solid #0b3182;
        margin:5%;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0.1, 0.1, 0.1, 0.1);
    }
}