@media(max-width:500px){
    .p2{
        width:100%;
        background-color: #f0f2f4;
        color:#0b3182;
        height:100%;
        min-height: 100vh;
        .logo{
            width:100%;
        }
        .img2{
            width:100%;
        }
        h1{
            font-size: 25px;
            padding-left: 10%;
        }
        .more{
            padding-left: 75%;
            font-size:20px;
            margin-top: -20px;
        }

        .icon1{
            margin-top: -15px;
            color:#0b3182;
        }

        .icon2{
           font-size: 50px;
           color:#0b3182;
        }
        
        .c2{
            display:flex;
            gap:40%;
            margin-top: 20px;
            margin-left: 15%;
           .boxes{
            width:70px;
            text-align: center;
            .bt13{
                width:100%;
                height:60px;
                background-color:white;
                border-radius: 15px;
                border:none;
                font-size: 16px;
                box-shadow: 0 2px 10px rgba(0.1, 0.1, 0.1, 0.1);
                .icons{
                    font-size: 40px;
                    color:#0b3182;        
                }
            }
           }
            
        }
    }
}