@media(max-width:500px){
    .chatbot-container {
        width: 100%;
        background-color: #f0f2f4;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .botname{
        padding-top: 15px;
        padding-left: 20px;
        height:70px;
        display:flex;
        background-color:#0b3182;;
        .botimage{
          width:60px;
          border-radius: 50%;
        }
        p{
          padding-left: 20px;
          color:white;
          font-size: 20px;
        }
      }

      
      .chatbox {
        height: 80vh;
        overflow-y: auto;
        margin-bottom: 10px;
      }
      
      .message {
        padding: 8px;
        margin: 10px 0;
        border-radius: 5px;
        max-width: 80%;
      }
      
      .message.bot {
        background-color: #5f89e5;
        margin-left: 10px;
        color:white;
        align-self: flex-start;
      }
      
      .message.user {
        background-color: rgb(56, 188, 56);
        margin-right: 10px;
        color:white;
        align-self: flex-end;
        margin-left: 50%;
        
      }
      
      .chat-input input {
        width: 70%;
        margin-right: 5px;
        border: 1px solid rgb(147, 143, 143);
        border-radius: 5px;
        height:43px;
        margin-left: 5px;

      }
      
      .chat-input button {
        height:45px;
        background-color: #0b3182;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width:20%;
      }
      
      .chat-input button:hover {
        background-color: #0056b3;
      }
      
}
